<div id="menu-container">
    <button id="menu-button">☰ Filter Columns</button>

    <div id="filter-menu" class="filter-menu">
        <label>Show : </label>

        <!-- ✅ Checkbox All -->
        <label>
            <input type="checkbox" id="toggle-all-columns" checked>
            <b>All column</b>
        </label>
        <hr>
        
        <label><input type="checkbox" class="toggle-column" data-column="0" checked> Sélection</label>
        <label><input type="checkbox" class="toggle-column" data-column="1" checked> ID</label>
        <label><input type="checkbox" class="toggle-column" data-column="2" checked> Name</label>
        <label><input type="checkbox" class="toggle-column" data-column="3" checked> Description</label>
        <label><input type="checkbox" class="toggle-column" data-column="4" checked> Comments</label>
    </div>
</div>

