{% extends 'layout.html.twig' %}
{% block body %}
        <div id="global">
            {% if (app.user.roles.0 != "ROLE_INTERN") %}
                <div id="form">
                    {% include "project/create.html.twig" %}
                </div>
            {% endif %}
            <div id="list">
                <div id="table">
                    {% include "project/list.html.twig" %}
                </div>
            </div>
        <br></br>        
        </div>  
{% endblock %}