services:
  app:
    build:
      context: docker/php
    volumes:
      - ./dev:/var/www/html
      - es-data:/usr/share/elasticsearch/data
    ports:
      - "80:80"
      - "9200:9200"
    networks:
      - vivacar

volumes:
  es-data:

networks:
  vivacar:
