<div id="menu-container">
    <button id="menu-button">☰ Filter Columns</button>
    
    <div id="filter-menu" class="filter-menu">
        <label>Show : </label>

        <!-- ✅ Checkbox All -->
        <label>
            <input type="checkbox" id="toggle-all-columns" checked>
            <b>All column</b>
        </label>
        <hr>
        
        <label><input type="checkbox" class="toggle-column" data-column="0" checked> Sélection</label>
        <label><input type="checkbox" class="toggle-column" data-column="1" checked> ID</label>
        <label><input type="checkbox" class="toggle-column" data-column="2" checked> Date</label>
        <label><input type="checkbox" class="toggle-column" data-column="3" checked> Type</label>
        <label><input type="checkbox" class="toggle-column" data-column="4" checked> Country</label>
        <label><input type="checkbox" class="toggle-column" data-column="5" checked> City</label>
        <label><input type="checkbox" class="toggle-column" data-column="6" checked> Localisation</label>
        <label><input type="checkbox" class="toggle-column" data-column="7" checked> Under Localisation</label>
        <label><input type="checkbox" class="toggle-column" data-column="8" checked> GPS</label>
        <label><input type="checkbox" class="toggle-column" data-column="9" checked> Environnement</label>
        <label><input type="checkbox" class="toggle-column" data-column="10" checked> Other</label>
        <label><input type="checkbox" class="toggle-column" data-column="11" checked> Description</label>
        <label><input type="checkbox" class="toggle-column" data-column="12" checked> Comment</label>
        <label><input type="checkbox" class="toggle-column" data-column="13" checked> Duplicate</label>
        <label><input type="checkbox" class="toggle-column" data-column="14" checked> Modifie</label>
        <label><input type="checkbox" class="toggle-column" data-column="15" checked> Delete</label>
    </div>
</div>
