{% extends 'layout.html.twig' %}

{% block body %}
    <div id="global">
        {% if 'ROLE_SEARCH' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
            <div id="form">
                {% include "sample/create.html.twig" %}
            </div>
        {% endif %}
        <div id="list">
            <div id="filter">
                {% include 'sample/_filter_form_datatable_sample.html.twig' %}
            </div>
            <div id="message">
                {% include './message.html.twig' %}
            </div>
            <div id="table">
                {% include "sample/list.html.twig" %}
            </div>
        </div>
        <br></br>
    </div>  
{% endblock %}
