{% extends 'layout.html.twig' %}
{% block body %}
        <div id="global">
        {% if 'ROLE_SEARCH' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
            <div id="form">
                {% include "sequencing/create.html.twig" %}
            </div>
        {% endif %}
            <div id="list">
                <div id="table">
                    {% include "sequencing/list.html.twig" %}
                </div>
            </div>
        <br></br>        
        </div>  
{% endblock %}