# Symfony Framework Bundle
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# Symfony Asset Mapper
/public/assets/
/public/docs/

# Node / JS / assets
/assets/vendor/

# Environment
/.env

# Miscellaneous
/.history/

# ========================
# LOCAL DEV CONFIG (perso)
# ========================

config/packages/fos_elastica.yaml
config/packages/vich_uploader.yaml
config/reference.php

# à activer seulement si local
# src/Entity/User.php