# Symfony Framework Bundle
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# Symfony Asset Mapper
/public/assets/
/assets/vendor/
/public/docs/

# Node / JS / assets
/assets/vendor/

# Environment
/.env

# Miscellaneous
/.history/
