# Symfony Framework Bundle
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# Symfony Asset Mapper
/public/assets/
/public/docs/

# Node / JS / assets
/assets/vendor/

# Environment
/.env

# Miscellaneous
/.history/

# ========================
# LOCAL DEV CONFIG (perso)
# ========================

dev/config/packages/fos_elastica.yaml
dev/config/packages/vich_uploader.yaml
dev/config/reference.php

# ========================
# DOCKER LOCAL
# ========================

docker-compose.yml
docker/php/000-default.conf
docker/php/Dockerfile
docker/php/config/php.ini