
{% block body %}
        <div id="global">
            <div id="form">
                {% include "collec/create.html.twig" %}
            </div>
            <li>_________________________________</li>
            <li><br></br></li>
            <div id="list">
                {% include "collec/list.html.twig" %}
            </div>
        <br></br>        
        </div>  
{% endblock %}