{% extends 'layout.html.twig' %}
{% block body %}
        <div id="global">
            {% if (app.user.roles.0 != "ROLE_INTERN") %}
                <div id="form">
                    {% include "collec/create.html.twig" %}
                </div>
            {% endif %}
            <div id="list">
                <div id="filter">
                    {% include 'collec/_filter_form_datatable_collect.html.twig' %}
                </div>
                <div id="message">
                    {% include './message.html.twig' %}
                </div>
                <div id="table">
                    {% include "collec/list.html.twig" %}
                </div>
            </div>
        <br></br>        
        </div>  
{% endblock %}