{{ form_start(methodSequencingTypeForm) }}
  {{ form_row(methodSequencingTypeForm.name) }}
  <button type="submit" class="btn-form">
    {{ button_label|default('Add sequencing method') }}
  </button>
{{ form_end(methodSequencingTypeForm) }}
