
        {% block body %}
            <main class="container">
                <section class="row">
                    <div class="col-12">
                        <h1>Add a new Sequencing method</h1>
                        {% include "methodSequencingType/_form.html.twig" %}
                    </div>
                </section>
            </main>
        {% endblock %}