<footer>
        <div class="f-item-con">
            <div class="app-info">
                <span class='app-name'>
                    <span class='app-initial'>GAUDIN</span>/BERTRAND
                </span>
                <p>Developped with <strong>Passion</strong> and <strong>Patience</strong> mainly for you. &#x1F30D</p>
            </div>
            <div class="useful-links">
                <div class="footer-title">Usefull links</div>
                <ul>
                    <li>lien 1</li>
                    <li>lien 1</li>
                    <li>lien 1</li>
                    <li>lien 1</li>
                    <li>lien 1</li>
                    <li>lien 1</li>
                </ul>
            </div>
        </div>
    </footer>