{{ form_start(phenotypeTypeForm) }}
  {{ form_row(phenotypeTypeForm.type) }}
  <button type="submit" class="btn-form">
    {{ button_label | default('Add phenotype') }}
  </button>
{{ form_end(phenotypeTypeForm) }}
