{{ form_start(phenotypetypeForm) }}

    {{ form_row(phenotypetypeForm.type) }}

    <button type="submit" class="btn-form">
        {{ button_label | default('Add phenotype') }}
    </button>

{{ form_end(phenotypetypeForm) }}
