{% extends 'layout.html.twig' %}

{% block body %}
  <div id="global">

    {% if 'ROLE_ADMIN' in app.user.roles %}
      <div id="form">
        {% include 'phenotypeType/create.html.twig' %}
      </div>
    {% endif %}

    <div id="list">
      <div id="filter">
        {% include 'phenotypeType/_filter_form_datatable_phenotypetype.html.twig' %}
      </div>

      <div id="message">
        {% include './message.html.twig' %}
      </div>

      <div id="table">
        {% include 'phenotypeType/list.html.twig' %}
      </div>
    </div>

    <br />
  </div>
{% endblock %}
