<div id="menu-container">
    <button id="menu-button">☰ Filter Columns</button>

    <div id="filter-menu" class="filter-menu">
        <label><input type="checkbox" class="toggle-column" data-column="0" checked> Sélection</label>
        <label><input type="checkbox" class="toggle-column" data-column="1" checked> ID</label>
        <label><input type="checkbox" class="toggle-column" data-column="2" checked> URL</label>
        <label><input type="checkbox" class="toggle-column" data-column="3" checked> Title</label>
        <label><input type="checkbox" class="toggle-column" data-column="4" checked> Autor</label>
        <label><input type="checkbox" class="toggle-column" data-column="5" checked> Year</label>
        <label><input type="checkbox" class="toggle-column" data-column="6" checked> DOI</label>
        <label><input type="checkbox" class="toggle-column" data-column="7" checked> Description</label>
    </div>
</div>

