<div id="menu-container">
    <button id="menu-button">☰ Filter Columns</button>

    <div id="filter-menu" class="filter-menu">
        <label>Show :</label>

        <!-- ✅ Toggle all -->
        <label>
            <input type="checkbox" id="toggle-all-columns" checked>
            <b>All columns</b>
        </label>
        <hr>

        <label><input type="checkbox" class="toggle-column" data-column="0" checked> Selection</label>
        <label><input type="checkbox" class="toggle-column" data-column="1" checked> ID</label>
        <label><input type="checkbox" class="toggle-column" data-column="2" checked> Email</label>
        <label><input type="checkbox" class="toggle-column" data-column="3" checked> Firstname</label>
        <label><input type="checkbox" class="toggle-column" data-column="4" checked> Lastname</label>
        <label><input type="checkbox" class="toggle-column" data-column="5" checked> Roles</label>
        <label><input type="checkbox" class="toggle-column" data-column="6" checked> Password</label>
    </div>
</div>
