{% extends 'layout.html.twig' %}
{% block body %}
        <div id="global">
            <div id="list">
                <div id="table" class="table-user">
                    {% include "user/list.html.twig" %}
                </div>
            </div>
        <br></br>        
        </div>  
{% endblock %}