{% extends 'layout.html.twig' %}
{% block body %}
        <div id="global">
            <div id="form">
                {% include "transformability/create.html.twig" %}
            </div>
            <div id="list">
                <div id="table">
                    {% include "transformability/list.html.twig" %}
                </div>
            </div>
        <br></br>        
        </div>  
{% endblock %}