{# templates/plasmyd/main.html.twig #}
{% extends 'layout.html.twig' %}

{% block body %}
    <div id="global">
        {% if 'ROLE_SEARCH' in app.user.roles %}
            <div id="form">
                {% include "plasmyd/create.html.twig" %}
            </div>
        {% endif %}
        <div id="list">
            <div id="filter">
                {% include 'plasmyd/_filter_form_datatable_plasmyd.html.twig' %}
            </div>
            <div id="message">
                {% include './message.html.twig' %}
            </div>
            <div id="table">
                {% include "plasmyd/list.html.twig" %}
            </div>
        </div>
        <br></br>
    </div>  
{% endblock %}
