
{% block body %}
            <h1 style="margin-top: 0; overflow: hidden;"> Create a New Strain </h1>
            <div class="col-12">
                {% include "strain/_form.html.twig" with {
                            'is_update': null} 
                %}
            </div>
{% endblock %}