<!-- CONTENEUR PERSONNALISÉ POUR LES CONTRÔLES (length, filter, buttons) -->
<!-- CONTENEUR FOOTER POUR PAGINATION -->
<div id="table-controls-footer"
     class="datatable-footer d-flex justify-content-between align-items-center">
</div>
