
{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>Modifie a Strain</h1>
            {% include "strain/_form.html.twig" with {'button_label': 'Modifie'} %}
        </div>
    </section>
</main>
{% endblock %}
