<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

{# Styles et scripts spécifiques à DataTables #}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.dataTables.min.css" />

{% block body %}
    <div id="data-table-wrapper" class="sticky-wrapper">
        <table id="data-table" class="display" style="visibility: hidden;">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all" /></th>
                    <th class="id" data-column="id">ID</th>
                    <th class="name" data-column="name">Name</th>
                    <th data-column="date">Date</th>
                    <th data-column="specie">Specie</th>
                    <th data-column="gender">Gender</th>
                    <th data-column="sample">Sample</th>
                    <th class="genotype">Genotype</th>
                    <th data-column="plasmyd">Plasmyd</th>
                    <th data-column="storage">Storage</th>
                    <th data-column="parent">Parent</th>
                    <th data-column="project">Project</th>
                    <th data-column="collec">Collection</th>
                    <th data-column="drug">Drug Resistance</th>
                    <th data-column="transformability">Transformability</th>
                    <th data-column="sequencing">File Sequencing</th>
                    <th data-column="publication">Publication</th>
                    <th class="creator">Creator</th>
                    <th data-column="description">Description</th>
                    <th data-column="comment">Comment</th>
                    <th data-column="null"> </th> {# Duplicate #}
                    <th data-column="null"> </th> {# Modifie #}
                    <th data-column="null"> </th> {# x #}
                </tr>
            </thead>
            <tbody>
                {# Les données seront chargées ici par AJAX #}
            </tbody>
        </table>
    </div>

    <div id="infoPopup" class="hidden">
    <h3 id="popupTitle"></h3>
    <p id="popupDetails"></p>
    <a id="popupDownload" href="#" style="display: none; padding: 5px 10px; background: blue; color: white; text-decoration: none; border-radius: 5px;">
        Télécharger
    </a>
</div>


{% endblock %}

{% block javascripts %}
    {# jQuery (DOIT être avant tous les scripts DataTables) #}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    {# JS DataTables + Plugins #}
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>

    {# Les scripts DataTables Buttons ne sont plus nécessaires sans les boutons d'export #}
    {# <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js"></script> #}
    {# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script> #}
    {# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script> #}
    {# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script> #}
    {# <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script> #}
    {# <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script> #}
    <script type="text/javascript" src="https://cdn.datatables.net/colreorder/2.0.0/js/dataTables.colReorder.min.js"></script>

    <script>
        const ajaxUrlStrains = '{{ path('data_strains') }}';
    </script>      
{% endblock %}