{% extends 'layout.html.twig' %}
{% block body %}
        <div id="global">
            {% if 'ROLE_SEARCH' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                <button id="toggleForm">+</button>
                <div id="form" class="hidden">
                    <button id="closeForm">-</button>
                    {% include "strain/create.html.twig" %}
                </div>
            {% endif %}
            <div id="list">
                <div id="filter">
                    {% include 'strain/elastic_main.html.twig' %}
                </div>
                <div id="filter" style="margin-bottom:10px;">
                    {% include 'strain/_filter_form_datatable.html.twig' %}
                </div>
                <div id="message">
                    {% include './message.html.twig' %}
                </div>
                <div id="table-header-toolbar" class="table-header-toolbar">
                    <div class="table-header-search">
                        {% include 'strain/_datatable_search.html.twig' %}
                    </div>

                    <div id="multiple-download" class="table-header-download">
                        {% include "strain/_download_file.html.twig" %}
                    </div>

                    <div class="table-header-filters">
                        {% include 'strain/user_filter_button.html.twig' %}
                    </div>
                </div>
                
                <div id="table">
                    {% include "strain/list.html.twig" %}
                </div>

                {# ✅ ICI → juste APRÈS le tableau #}
                <div id="table-controls-footer"
                    class="datatable-footer d-flex justify-content-between align-items-center">
                </div>


            </div>
        <br></br>        
        </div>  


 <script>
        const toggleBtn = document.getElementById('toggleForm');
        const formDiv = document.getElementById('form');
        const closeBtn = document.getElementById('closeForm');

        // Ouvrir le formulaire avec le bouton +
        toggleBtn.addEventListener('click', () => {
            formDiv.classList.remove('hidden');
            formDiv.classList.add('show');
            toggleBtn.style.display = 'none';
        });

        // Fermer le formulaire avec le bouton -
        closeBtn.addEventListener('click', () => {
            formDiv.classList.remove('show');
            formDiv.classList.add('hidden');
            toggleBtn.style.display = 'inline-block';
        });
</script>
{% endblock %}
