{% extends 'layout.html.twig' %}
{% block body %}
        <div id="global">
            {% if (app.user.roles.0 != "ROLE_INTERN") %}
                <div id="form">
                    {% include "strain/create.html.twig" %}
                </div>
            {% endif %}
            <div id="list">
                <div id="filter">
                    {% include 'strain/elastic_main.html.twig' %}
                </div>
                <div id="filter">
                    {% include 'strain/_filter_form_datatable.html.twig' %}
                </div>
                <div id="message">
                    {% include './message.html.twig' %}
                </div>
                <div id="strain-datatable-search" class="strain-searchDatatable">
                    <div class="strain-search-left">
                        {% include 'strain/_datatable_search.html.twig' %}
                    </div>
                    <div class="strain-search-right">
                        {% include 'strain/user_filter_button.html.twig' %}
                    </div>
                </div>
                <div id="table">
                    {% include "strain/list.html.twig" %}
                </div>
            </div>
        <br></br>        
        </div>  
{% endblock %}